In [1]:
# Libraries
import pandas as pd
from paths_ import Path
import numpy as np

## read dataset

In [2]:
twitter = Path().readfile()

In [3]:
#print(twitter)

## Create dataframe

In [4]:
df_read = pd.read_csv(twitter)
df = df_read.copy(deep=True)

## Data Gathering & Transformation

In [5]:
df.shape

(1726, 25)

In [6]:
#df.columns

In [7]:
# df.dtypes

In [8]:
# df['source'].unique()

In [9]:
# determinar si hay valores nulos

In [10]:
class FillNaN:
    def __init__(self,dataframe) -> None:
        self.dataframe = dataframe

    def fill_numerical(self):
        self.numerical_column_list = self.dataframe.dtypes[(self.dataframe.dtypes == 'int64') | (self.dataframe.dtypes == 'float64')].index

        for col in self.numerical_column_list:
            self.dataframe[col].replace(np.nan,0,inplace=True)

        return self.dataframe

In [11]:
replace_null = FillNaN(df).fill_numerical()

In [12]:
df

,user_id,status_id,created_at,screen_name,text,source,reply_to_status_id,reply_to_user_id,is_retweet,favorite_count,...,friends_count,statuses_count,favourites_count,account_created_at,verified,sentiment_value,sentiment_dictionary,lat,lng,City
0,1.150000e+18,1.430000e+18,"Aug 20, 2021",sab_loos,So blown away by all the #disaster #dataviz pr...,Twitter for Android,0.000000e+00,0.000000e+00,0,6,...,183,45,144,15/07/2019 02:45,0,3,AFINN,20.5875,-100.3928,"Querétaro ,Mexico"
1,1.758731e+07,1.430000e+18,"Aug 27, 2021",avyfain,New census data means there's a lot of cool #d...,Twitter Web App,0.000000e+00,0.000000e+00,0,1,...,899,13625,25631,24/11/2008 06:20,0,-3,AFINN,52.5125,6.0944,"Zwolle ,Netherlands"
2,9.050000e+17,1.430000e+18,"Aug 30, 2021",observablehq,We're thrilled to announce the winners of our ...,Twitter Web App,0.000000e+00,0.000000e+00,0,11,...,153,2436,2567,06/09/2017 2:26,0,2,AFINN,24.0889,32.8997,"Aswān ,Egypt"
3,9.050000e+17,1.420000e+18,"Aug 22, 2021",observablehq,Tag someone who you think might be interested ...,TweetDeck,0.000000e+00,0.000000e+00,0,18,...,153,2436,2567,06/09/2017 2:26,0,1,AFINN,24.0889,32.8997,"Aswān ,Egypt"
4,1.192883e+08,1.430000e+18,"Aug 4, 2021",marissaxdexleon,Descripción gráfica de la variante Delta https...,Twitter for iPhone,0.000000e+00,0.000000e+00,0,0,...,1039,12174,1492,03/03/2010 5:54,0,-1,AFINN,45.0667,7.7000,"Turin ,Italy"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1721,1.100000e+18,1.420000e+18,"Aug 14, 2021",pbadard_ucanss,La carte interactive du réseau des Urssaf prés...,Twitter Web App,0.000000e+00,0.000000e+00,1,0,...,584,4092,87,15/02/2019 12:12,0,-3,AFINN,37.3900,-5.9900,"Sevilla ,Spain"
1722,1.390000e+18,1.420000e+18,"Aug 6, 2021",chaouch_faten,"#Dataviz | Par rapport à sa population, la Tun...",Twitter for Android,0.000000e+00,0.000000e+00,1,0,...,52,71,65,17/05/2021 21:54,0,1,AFINN,-51.6333,-69.2333,"Río Gallegos ,Argentina"
1723,1.410000e+18,1.420000e+18,"Aug 5, 2021",ssiilleeh,@Sonic_urticant les pub sci à la limite rien d...,Twitter Web App,1.420000e+18,1.410000e+18,0,0,...,0,796,84,23/06/2021 23:27,0,-2,AFINN,54.3233,10.1394,"Kiel ,Germany"
1724,1.410000e+18,1.420000e+18,"Aug 24, 2021",ssiilleeh,@Sonic_urticant l'étude se focalise suelemtn s...,Twitter Web App,1.420000e+18,1.280000e+18,0,1,...,0,796,84,23/06/2021 23:27,0,0,AFINN,54.3233,10.1394,"Kiel ,Germany"
1725,9.067050e+07,1.420000e+18,"Aug 25, 2021",urssaf,La carte interactive du réseau des Urssaf prés...,Hootsuite Inc.,0.000000e+00,0.000000e+00,0,6,...,210,5023,1037,17/11/2009 17:03,0,-3,AFINN,36.7000,137.2200,"Toyama ,Japan"